<h3>prompter.me – recover password</h3>
<p>
    Hi {{name}}!
</p>
<p>
    Someone, hopefully you have requested a new password. Click on the link below to reset your password.
</p>
<p>
    <a href="https://prompter.me/{{slug}}/{{token}}">
        reset password
    </a>
</p>